/*RESET*/
*{
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size:16px;
}

html, body{
	background-color: whitesmoke;		
}

.table-me{
	width: 216px;
	height: 309px;
	margin: 0 auto;
}

.grama{
	padding: 6.1rem;
/*	width: 120px;
	height: 120px;	*/
}
.table-me tr td{
	border: 1px solid black;
	width: 121px;
	height: 165px;
	background-image: url('../img/Grass_Tiled_2.jpg');
	background-size: 120px 120px;
}

/*.explosion{
	width: 121px;
	height: 121px;	
}*/